@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

/* General */
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	display: flex;
	margin: 0px;
	flex-direction: column;
}

.shrikhand
{
	font-family: 'Shrikhand', cursive;
}

.texte-centre
{
	text-align: center;
}

/* Header */
#logo
{
	font-size: 31px;
	padding-top: 15px;
	padding-bottom: 5px;
}

#localisation
{
	background-color: rgb(234, 234, 234);
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 17px;
	color: rgb(53, 53, 53);
	font-weight: bold;
	box-shadow: inset 0px 3px 2px rgb(213, 213, 213);
}

#localisation i
{
	margin-right: 15px;
	margin-left: -20px;
	font-size: 18px;
}

#explorer
{
	background-color: rgb(246, 246, 246);
	padding-top: 10px;
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
}

#explorer h1
{
	font-size: 24px;
	text-align: center;
	padding-top: 30px;
	margin:  0px 60px 0px 60px;
	font-weight: 900;
}

#explorer p
{
	font-size: 18px;
	text-align: center;
	margin-bottom: 5px;
	font-weight: 300;
}

#bouton-explorer
{
	display: flex;
	background: linear-gradient(to top left, #9356DC, #FF79DA);
	border-top: #FF79DA;
	border-left: #FF79DA;
	border-right: #9356DC;
	border-bottom: #9356DC;
	border-radius: 25px;
	padding: 15px 20px 15px 20px;
	font-size: 16px;
	color: white;
	margin-top: 25px;
	width: min-content;
	align-self: center;
	font-weight: 500;
}