@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

/* General */
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	display: flex;
	margin: 0px;
	flex-direction: column;
}

.shrikhand
{
	font-family: 'Shrikhand', cursive;
}

.texte-centre
{
	text-align: center;
}

/* Header */
#logo
{
	font-size: 31px;
	padding-top: 15px;
	padding-bottom: 5px;
}

#localisation
{
	background-color: rgb(234, 234, 234);
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 17px;
	color: rgb(53, 53, 53);
	font-weight: bold;
	box-shadow: inset 0px 3px 2px rgb(213, 213, 213);
}

#localisation i
{
	margin-right: 15px;
	margin-left: -20px;
	font-size: 18px;
}