/* General */

#fonctionnement, #restaurants, #pied-page
{
  padding-left: 80px;
  padding-right: 80px;
}

.etapes-restaurant span
{
  flex-direction: column;
  padding: 70px 15px 70px 15px;
	border-radius: 15px;
	font-weight: bold;
  font-size: 21px;
  min-width: fit-content;
}

.etapes-restaurant span i
{
  display: flex;
  font-size: 25px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: center;
}

ol
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

ol li:before
{
  counter-increment: myOrderedListItemsCounter;
  content: counter(myOrderedListItemsCounter);
  padding: 9px 12px 9px 12px;
  color: white;
  border-radius: 100%;
  left: 45%;
  top: -15px;
  font-size: 16px;
  position: relative;
}

#restaurants h2
{
	min-width: 100%;
}

.carte-restaurants
{
	flex-direction: column;
	justify-content: space-between;
	max-width: 48%;
	min-width: 48%;
}

#restaurants
{
	display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

#restaurants .new-1
{
  border: 1px solid #99E2D0;
  border-radius: 2px;
  background: #99E2D0;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: green;
  margin-top: 15px;
  right: 8%;
}

#restaurants .new-2
{
  border: 1px solid #99E2D0;
  border-radius: 2px;
  background: #99E2D0;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: green;
  margin-top: 15px;
  right: 54%;
}

.image-restaurant
{
  height: 280px;
}

.heart-1
{
 left: 45%;
 margin-top: -70px;
}

.heart-2
{
  right: 8%;
  margin-top: -70px;
}

.heart-3
{
  left: 45%;
  margin-top: -70px;
}

.heart-4
{
  right: 8%;
  margin-top: -70px;
}

nav ul
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}