.etapes-restaurant span
{
	align-items: center;
	padding: 60px 8px 60px 8px;
	margin-top: -25px;
	border-radius: 15px;
	font-weight: bold;
	font-size: 16px;
	min-width: fit-content;
}

.etapes-restaurant span i
{
	margin-left: 0px;
}

ol
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

ol li:before
{
  counter-increment: myOrderedListItemsCounter;
  content: counter(myOrderedListItemsCounter);
  padding: 8px 11px 8px 11px;
  color: white;
  border-radius: 100%;
  left: 100px;
  top: -15px;
  font-size: 14px;
  position: relative;
}

#restaurants h2
{
	min-width: 100%;
}

.carte-restaurants
{
	flex-direction: column;
	justify-content: space-between;
	max-width: 48%;
	min-width: 48%;
}

#restaurants
{
	display: flex;
  	flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: space-between;
}

#restaurants .new-1
{
  position: absolute;
  border: 1px solid #99E2D0;
  border-radius: 2px;
  background: #99E2D0;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: green;
  margin-top: 15px;
  right: 4%;
}

#restaurants .new-2
{
  position: absolute;
  border: 1px solid #99E2D0;
  border-radius: 2px;
  background: #99E2D0;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: green;
  margin-top: 15px;
  right: 54%;
}

.heart-1
{
 left: 42%;
 margin-top: -70px;
}

.heart-2
{
  right: 5%;
  margin-top: -70px;
}

.heart-3
{
  left: 42%;
  margin-top: -70px;
}

.heart-4
{
  right: 5%;
  margin-top: -70px;
}

nav ul
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}