.nom-restaurant, h3
{
	margin-left: 20px;
}

h3
{
	width: 5%;
}

.nom-restaurant
{
	justify-content: center;
}

.fa-heart
{
	align-self: center;
	right: 50px;
}

#carte-a-la-francaise
{
	padding-left: 15px;
	padding-right: 15px;
}

#carte-a-la-francaise h4
{
	font-size: 18px;
}

#carte-a-la-francaise h4, p
{
	padding-left: 8px;
}

.prix
{
	right: 50px;
}

#pied-page h4
{
	padding-left: 5.5%;
}

nav ul
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}